<div class="proficiency-learning">
    <h4>Apprentissage</h4>
    <div class="proficiency flexrow">
        <h5 title="{{proficiency.name}}">
            {{proficiency.name}}
        </h5>
        <progress value="{{proficiency.current}}" max="{{proficiency.goal}}"></progress> 
        <span>{{proficiency.current}} / {{proficiency.goal}}</span>
    </div>
</div>